<!DOCTYPE html>
<html ng-app="loadTestApp">
<head>
	<title>Load Test Dashboard</title>
	<link rel="shortcut icon" href="/images/favicon.png">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	
    <!-- Required meta tags for Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<link rel="stylesheet" href="css/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/load-test.css">
  	<link rel="stylesheet" href="css/ui/jquery-ui.min.css">
	
	<script src="js/jquery/2.1.1/jquery.min.js"></script>
	<script src="js/jquery/ui/jquery-ui.min.js"></script>
	<script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>

	<script src="js/angularjs/1.5.7/angular.min.js"></script>
	<script src="js/angularjs/1.5.7/angular-route.min.js"></script>
	<script src="js/angularjs/1.5.7/angular-resource.min.js"></script>
	<script src="js/angularjs/1.5.7/angular-sanitize.min.js"></script>
	<script src="js/angularjs/1.5.7/angular-animate.min.js"></script>
	<script src="js/angularjs/1.5.7/angular-cookies.min.js"></script>

	<script src="js/angularjs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
	<script src="js/angularjs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>

	<script src="js/app.js"></script>
</head>
<body>
	<div class="loader" ng-hide="initialized">
		Loading Load Test Dashboard...
	</div>

	<nav class="navbar navbar-fixed-top navbar-default ng-hide" role="navigation" ng-show="initialized">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse">
					<span class="sr-only">toggle navigation</span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/"><h2 style="margin-top: -10px;">Annulet Load Tester</h2></a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span>&nbsp;<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/create"><span class="glyphicon glyphicon-play"></span>&nbsp;Create&nbsp;Test&nbsp;Run</a></li>
							<li><a href="#/"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Test&nbsp;Reports</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container ng-hide" ng-show="initialized">
		<div class="topalert">
			<div class="alert alert-danger" ng-show="error">{{error}}</div>
			<div class="alert alert-success" ng-show="msg">{{msg}}</div>
		</div>
		<div ng-view></div>
	</div>
	<footer class="footer">
	    <div class="footer-container">
			<div ng-include="'widgets/footer.html'"></div>
		</div>
	</footer>
</body>
</html>
