<div class="viewContent">
    <h2>Create Load Test</h2>
    <table>
        <tr><td>Postman Collection JSON File</td><td><input type="file" id="postmanFile" class="form-control"/></td></tr>
        <tr><td>Postman Environment JSON File</td><td><input type="file" id="envFile" class="form-control"/></td></tr>
        <tr><td>Virtual Users</td><td><input type="number" min="1" ng-model="virtualUsers" class="form-control"/></td></tr>
        <tr><td>Test Repetitions</td><td><input type="number" min="1" ng-model="testRepetitions" class="form-control"/></td></tr>
        <tr><td>Save HTTP Response<super>*</super></td>
            <td><input type="checkbox" ng-model="persistResponse" id="cbPersistResponse" class="form-control" ng-click="cbLogic('persist')"/></td></tr>
        <tr><td>Run JS Tests on Response<super>*</super></td>
            <td><input type="checkbox" ng-model="testResponse" id="cbTestResponse" class="form-control" ng-click="cbLogic('test')"/></td></tr>
        <tr><td colspan="2">
            <button ng-hide="ajaxSent" ng-click="createRun()" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-play"></span> Start Load Test
            </button>
            <div ng-show="ajaxSent" class="loader">Please wait...</div>
        </td></tr>
    </table>
    <super>*</super> This option will cause a decrease in performance.
</div>
