<div class="viewContent">
    <h2>Existing Load Tests</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <th>Test Number</th>
            <th>Complete</th>
            <th>Collection File</th>
            <th>Environment File</th>
            <th>Virtual Users</th>
            <th>Calls Per Test</th>
            <th>Test Repititions</th>
            <th>Start Time</th>
            <th>Completed Calls</th>
            <th>Failed Calls</th>
            <th>Total Run Time</th>
            <th>Average Time per Test</th>
        </thead>
        <tbody>
            <tr ng-repeat="testRun in testRuns track by testRun.id">
                <td><a href="/#/report/{{testRun.id}}">Test {{testRun.id}}</a></td>
                <td>{{testRun.complete}}</td>
                <td>{{testRun.collection}}</td>
                <td>{{testRun.environment}}</td>
                <td>{{testRun.virtualUsers}}</td>
                <td>{{testRun.callsPerTest}}</td>
                <td>{{testRun.testRepititions}}</td>
                <td>{{testRun.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{testRun.stats.completedCalls}}/{{testRun.stats.totalCalls}}</td>
                <td>{{testRun.stats.failedCalls}}/{{testRun.stats.totalCalls}}</td>
                <td>{{testRun.stats.runTime | date:'mm:ss:sss'}}</td>
                <td>{{testRun.stats.avgTimePerCall | date:'mm:ss:sss'}}</td>
            </tr>
        </tbody>
    </table>
</div>
