<div class="viewContent">
    <div ng-show="showTestRunning" class="testStatus"><div class="loader">...</div> Load Test Still Running...</div>
    <h2>Load Test {{loadTestId}}</h2>
    <div ng-show="showTestRunning">Refresh Interval: <input type="number" ng-model="refreshSeconds"> seconds</div>
    <table class="table table-striped table-hover">
        <tr><td>Collection File</td><td>{{loadTest.collection}}</td></tr>
        <tr><td>Environment File</td><td>{{loadTest.environment}}</td></tr>
        <tr><td>Virtual Users</td><td>{{loadTest.virtualUsers}}</td></tr>
        <tr><td>Test Repititions</td><td>{{loadTest.testRepititions}}</td></tr>
        <tr><td>Response Saved</td><td>{{loadTest.responsePersisted}}</td></tr>
        <tr><td>Start Time</td><td>{{loadTest.startTime | date:'yyyy-MM-dd HH:mm:ss.sss'}}</td></tr>
        <tr><td>Completed Calls</td><td>{{loadTest.stats.completedCalls}}/{{loadTest.stats.totalCalls}}</td></tr>
        <tr><td>Failed Calls</td><td>{{loadTest.stats.failedCalls}}/{{loadTest.stats.totalCalls}}</td></tr>
        <tr><td>Failed JS Tests</td><td>{{loadTest.stats.failedJSTests}}/{{loadTest.stats.totalCalls}}</td></tr>
        <tr><td>Total Run Time</td><td>{{loadTest.stats.runTime | date:'mm:ss:sss'}}</td></tr>
        <tr><td>Average Time per Test</td><td>{{loadTest.stats.avgTimePerCall | date:'mm:ss:sss'}}</td></tr>
        <tr><td colspan="2" class="container">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="oneAtATime">
                    Open only one test detail at a time
                </label>
            </div>
            <div class="checkbox" ng-show="loadTest.responseTested">
                <label>
                    <input type="checkbox" ng-model="showResponses">
                    Show ResponseData used for JS Testing
                </label>
            </div>
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" ng-repeat="requestData in loadTest.requestDataList track by requestData.id">
                    <uib-accordion-heading>
                        <span ng-show="requestData.allSuccess" class="glyphicon glyphicon-ok-circle test-pass"></span>
                        <span ng-hide="requestData.allSuccess" class="glyphicon glyphicon-remove-circle test-fail"></span>
                        {{requestData.folder}}: {{requestData.testName}}
                    </uib-accordion-heading>
                    <table><tr><th>Url</th><td>{{requestData.url}}</td></tr>
                           <tr><th>HeaderString</th><td>{{requestData.headerString}}</td></tr></table>
                    <table id="responseData{{requestData.id}}" class="table table-striped table-hover">
                        <thead>
                            <th>HTTP Status</th>
                            <th>Virtual User</th>
                            <th>Repetition Number</th>
                            <th>Test Duration<br />
                                (Minutes:Seconds:Milliseconds)</th>
                            <th>Test Start</th>
                            <th>Test End</th>
                            <th ng-show="loadTest.responseTested">Response JS Test Results</th>
                            <th ng-show="loadTest.responsePersisted && (!loadTest.responseTested || showResponses )">
                                HTTP Response Body
                            </th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="responseData in requestData.responseDataList track by responseData.id">
                            <td>{{responseData.httpStatusCode}}</td>
                            <td>{{responseData.virtualUser}}</td>
                            <td>{{responseData.repetitionNumber}}</td>
                            <td>{{responseData.testEnd - responseData.testBegin | date:'mm:ss:sss'}}</td>
                            <td>{{responseData.testBegin | date:'yyyy-MM-dd HH:mm:ss.sss'}}</td>
                            <td>{{responseData.testEnd | date:'yyyy-MM-dd HH:mm:ss.sss'}}</td>
                            <td ng-show="loadTest.responseTested">
                                <table class="js-test-results">
                                    <thead><tr><th>Test Name</th><th>Test Result</th></tr></thead>
                                    <tbody>
                                        <tr ng-repeat="testResult in responseData.testResults.split(';')">
                                            <td>{{testResult.split(':')[0]}}</td><td class="js-test-{{testResult.split(':')[1]}}">{{testResult.split(':')[1]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td ng-show="loadTest.responsePersisted && (!loadTest.responseTested || showResponses )">
                                {{responseData.responseBody}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-accordion>
        </td></tr>
    </table>
    </div>
</div>
