html {
  	position: relative;
  	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 20px;
}

textarea {
	width: 80%;
    height: 150px;
}

.viewContent {
    margin-top: 80px;
}

.footer {
  	position: absolute;
  	bottom: 0;
 	width: 100%;
  /* Set the fixed height of the footer here */
  	height: 20px;
    background-color: #414345;
    color: #f8f8f8;
    border-color: #e7e7e7;
}

.footer-container {
	padding-left: 20px;
}

.testStatus {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
}

.test-pass {
    padding: 10px;
    color: white;
    background-color: green;
}

.test-fail {
    padding: 10px;
    color: white;
    background-color: red;
}

.js-test-PASS {
    padding: 10px;
    color: white;
    background-color: green;
}

.js-test-FAIL {
    padding: 10px;
    color: white;
    background-color: red;
}

table.js-test-results, table.js-test-results th, table.js-test-results td {
    border: solid 1px;
}

/*
   Spinner thingy from
   https://projects.lukehaas.me/css-loaders/
*/

.loader,
.loader:before,
.loader:after {
   background: #001ac0;
   -webkit-animation: load1 1s infinite ease-in-out;
   animation: load1 1s infinite ease-in-out;
   width: 1em;
   height: 4em;
}

.loader {
    color: #001ac0;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
